*{
			margin:0px;
			padding:0px;
		}
#hea{
	background-color: #f2f0f1;
	height:85px;
}
	#hea .top{
		width:980px;
		height:85px;
		margin:0 auto;
			
	}
		#hea .top .logo{
			width:300px;
			height:66px;
			margin-top: 11px;
		}
#nav{
	background-color: #992122;
	height:55px;
} 
	#nav .na{
		
		width:984px;
		height:55px;
		margin:0 auto;
		
	}
		#nav .na .list{
			float:left;
			
			
		}
		#navlist .lis{
			font-weight:bold;
			font-size: 14px;
			border-right:1px solid #000000;
			text-align: center;
			line-height: 55px;
			width:122px;
			height:55px;
			list-style: none;
			float:left;
			background-color: #bfbfbf;
		}
		#navlist .lis a{
			text-decoration: none;
		}
		#navlist .lis:hover{
			background-color: #a6171a;
			color:white;
		}		
		#navlist .lis a:hover{
			
			color:white;
		}

#ban{
	width:980px;
	height:385px;
	margin:0 auto;
	
	position:relative;
}
#list{
	position:absolute;
	top:360px;
	left:850px;
	
}
#list li{
	list-style: none;
	float:left;
	
	width:30px;
	height:20px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
}
#main{
	width:980px;
	height:1040px;
	margin:0 auto;
	
}
	#main .main-top{
		width:980px;
		height:430px;
		margin:0 auto;
		
	}
	#main .main-top .m-t-lef{
		width:245px;
		height:410px;
		background-color: #e5e2db;
		margin-top: 8px;
		float:left;
	}
	.main-top .m-t-lef .mtlt{
		width:243px;
		height:35px;
		border-bottom:1px solid #000000;
		float: left;
	}
	.main-top .m-t-lef .mtltl{
		margin-left: 10px;
		margin-top: 10px;
		float:left;
	}
	.main-top .m-t-lef .mtltr{
		float:right;
		margin-top: 10px;
		
	}
	.main-top .mtltr li{
		list-style: none;
	}
	.main-top .mtltr a{
		
		text-decoration: none;
	}
	#main .m-t-lef .mtlb{
		height:375px;
		margin-top:35px;
	}
	#main .mtlb .m-t-l-ul{
		width: 243px;
		height: 92px;
		
		
	}
	#main .mtlb .maintop-lef{
		margin-top: 14px;
		margin-left: 10px;
	}
	#main .mtlb .maintop-lef-p{
		list-style: none;
		font-size: 14px;
		margin-right: 45px;
		margin-top: 15px;
		float:right;
	}
	#main .mtlb ul li{
	padding:0;margin:0;height:20px;
    }
	#main .mtlb .maintop-lef-p li a{
		text-decoration: none;
	}
	#main .main-top .main-t-mid{
		width:385px;
		height:410px;
		
		background-color: #d3d3d3;
		margin-top: 8px;
		float:left;
	}
	.main-top .main-t-mid .mtmt{
		width:385px;
		height:35px;
		border-bottom:1px solid #000000;
		
	}
	.main-top .main-t-mid .mtmtl{
		margin-left: 10px;
		margin-top: 10px;
		float:left;
	}
	.main-top .main-t-mid .mtmtr{
		float:right;
		margin-top: 10px;
		
	}
	.main-top .mtmtr li{
		list-style: none;
	}
	.main-top .mtmtr a{
		
		text-decoration: none;
	}
	#main .mtmb{

		font-size: 12px;
		margin-top: 10px;
		margin-left: 15px;
	}
	#main .mtmb ul li{
		padding:0;
		margin:0;
		height:35px;
	}
	#main .main-top .main-t-rig{
		width:344px;
		height:410px;
		
		margin-top: 8px;
		float:left;
	}
	#main .main-top h5{
		margin-left: 80px;
		font-size: 16px;
	}
	#main .main-top p{
		margin-top: 10px;
		margin-left: 10px;
		font-size: 12px;
		height:20px;
	}
	#main .main-bot{
		width:980px;
		height:610px;
		margin:0 auto;
		
	}
	#main .main-bot .main-bot-t{
		height:310px;
		
	}
	#main .main-bot .main-bot-t-t{
		height: 20px;
		width:978px;
		background-color: black;
	}
	#main .main-bot .main-bot-b{
		height: 298px;
		
	}
	#main .main-bot .main-b-t-t{
		margin-top: 17px;
		margin-left: 18px;
	}
	#main .main-bot .mainbot-banner{
		width: 980px;
		height: 50px;
		
	}
	#main .main-bot .main-b-b{
		width: 980px;
		height: 242px;
		
	}
	#main .main-bot .mainbot-b-b{
		margin-top:12px;
		margin-left: 10px;
	}
#footer-top{
	
	height:175px;
	

	background-color:#992122; 

}
#footer-top .footertop{
	margin:0 auto;
	width:980px;
	height: 170px;
}
	#footer-top .footer-top-lef{
		float:left;
	}
		#footer-top .weixin{
		margin-left: 340px;
		margin-top: 35px;
		}
		#footer-top .contact{
		float:left;
		width:210px;
		height: 170px;
		
		}

			#footer-top .contact h2{
				
				margin-top: 5px;
				color:white;
			}
			#footer-top .contact .contact2{
				width:210px;
				height: 40px;
				
			}
			#footer-top .contact img{
				float:left;
				margin-top: 10px;
			}
			#footer-top .contact h5{
				float:right;
				line-height: 40px;
				text-align: center;
				color:white;
			}
#footer-bot{
	width:980px;
	height:50px;
	margin:0 auto;
	
}
#footer-bot h5{
	font-size: 12px;
	color:#636363;
	margin-top: 10px;
	margin-left: 10px;
}